{% extends "base.j2" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="text-middle text-center text-black custom">
    <h1 class="cover-heading">One Step Closer</h1>
    <p class="lead">Come Create Your To-Do lists, keep staying organized and One Step Closer to success.</p>
    <a class="btn btn-danger" href="/registration">Care to register?</a>
    <br>
    <br>
    <a class="btn btn-success" href="/loginer">Login!</a>
</div>
{% endblock %}