{% from 'macro.j2' import Display %}
{% extends "base.j2" %}
{% block title %} Missions {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <form action="{{ url_for('order',list_id=list_id) }}" method="POST">
                <div>
                    <label for="mission" class="form-label">Mission to add</label>
                    {{ Display(f1.mission, 'Task', autocomplete="off", autofocus=true) }}
                </div>
                <div>
                    <label class="form-label" for="Date">Date to finish</label>
                    {{Display (f1.due_date, 'Choose a date for finish')}}
                </div>
                <div>
                    <label class="form-label" for="place">Place</label>
                    {{ Display(f1.place, 'Choose a place') }}
                </div>
                <div>
                    <label class="form-label" for="Important?">Important?</label>
                    {{ f1.important }}
                    <ul>
                        {% for error in f1.important.errors %}
                        <li>
                            {{ error }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <label class="form-label" for="completed?">completed?</label>
                    {{ f1.completed }}
                    <ul>
                        {% for error in f1.completed.errors %}
                        <li>
                            {{ error }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <button class="btn btn-secondary">{{ f1.submit_button }}</button>
                    {{ f1.csrf_token }}
                </div>
            </form>
        </div>
        <div class="col-md-10 col-sm-10">
            {% if tasks %}
            <div class='{{colorof}}'>

                <div class="table-wrapper-scroll-x my-custom-scrollbar">

                    <table class="table table-hover ">
                        <tr>

                            <th>Mission</th>
                            <th>Place</th>
                            <th>

                                <form action="{{ url_for('order_by',list_id=list_id) }}" method="POST"><button input
                                        type="submit" value="due_date" name='parameter' style="	background: none;
                                color: inherit;
                                border: none;
                                font: inherit;
                                cursor: pointer;
                                outline: inherit; color: black;">Due
                                        Date</button></form>
                            </th>
                            <th>
                                <form action="{{ url_for('order_by',list_id=list_id) }}" method="POST"><button input
                                        type="submit" name='parameter' value="important" style="	background: none;
                                color: inherit;
                                border: none;
                                font: inherit;
                                cursor: pointer;
                                outline: inherit; color: black;">Important</button></form>
                            </th>
                            <th>
                                <form action="{{ url_for('order_by',list_id=list_id) }}" method="POST"><button input
                                        type="submit" name='parameter' value="completed" style="	background: none;
                                color: inherit;
                                border: none;
                                font: inherit;
                                cursor: pointer;
                                outline: inherit; color: black;">Completed</button></form>
                            </th>
                        </tr>
                        {% for row in tasks %}
                        <tr>
                            <td>{{row.mission}}</td>
                            <td>{{row.place}}</td>
                            <td>{{row.due_date}}</td>
                            <td>{{row.important}}</td>
                            <td>{{row.completed}}
                                {% if  not row.completed %}
                                <form action="/update_complete/{{row.id}}" method="POST">
                                    <label class="form-label" Name={{row}} for="completed?">completed?</label>
                                    {{ f3.completed }}
                                    <button style="font-size: 7px;
                                border: none;
                                color: white;
                                
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                ">{{ f3.update_task_submit }}</button></form>
                                {{ f3.csrf_token }}
                                <ul>
                                    {% for error in f3.completed.errors %}
                                    <li>
                                        {{ error }}
                                    </li>

                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </td>

                            <td>

                                <a href=" /update_mission/{{row.id}}" class="btn btn-success btn-xs">Update</a>
                                <a href="/delete_mission/{{row.id}}" name='parameter' value={{row.id}}
                                    class="btn btn-info btn-xs"
                                    onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                            </td>
                            {% endfor %}
                            {% endif %}
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}