{% from 'macro.html' import Display %}
{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="row d-inline">
    <h2 class="text-center mt-5">Log In</h2>
    <div class="col-6 offset-3">
        <form action="{{ url_for('login') }}" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                {{ Display(form.email, 'Email', autofocus=true) }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                {{ Display(form.password, 'Password') }}
            </div>
            <div class="mb-3">
                <button class="btn btn-secondary">{{ form.submit_button }}</button>
                {{ form.csrf_token }}
            </div>
        </form>
        <a class="btn btn-dark btn-sm" href="/">Back To Home Page</a>
    </div>
</div>
{% endblock %}