{% from 'macro.j2' import Display %}
{% extends "base.j2" %}

{% block title %} Profile {% endblock %}

{% block content %}
<h1 style="text-align: center; background-color: #c93341;">About Me:</h1>
<div class="wrapper">
    {% for field in user_list %}
    <div>
        <h3><b> {{ field[0]}}:<br> {{field[1]}}</b></h3>
    </div>
    {% endfor %}
</div>
<a class="card-link btn btn-light" href="/profile/edit">Edit</a>
{% endblock %}